.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
}
.users {
  text-align: left;
  margin: 30px 20px;
}

div p {
  padding: 7px;
}
div p:hover {
  cursor: pointer;
  color: rgb(230, 80, 80);
  font-size: 27px;
  transition-duration: 0.7s;
}
.users div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: rgb(118, 165, 196);
  border-radius: 10px;
}
.page-deets {
  margin-top: 80px;
}
